.registration {
    padding-top: 8px;
    padding-bottom: 8px;
    background-size: 308px, 974px;
    background-position-x: center;
    background-position-y: 12px;
    background-repeat: no-repeat;
    background-image: url(../../imgs/mobile/registration/registration-bg@1x-mobile.webp);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../../imgs/mobile/registration/registration-bg@2x-mobile.webp);
    }

    @media screen and (min-width: 768px) {
        width: 154px;
        transform: rotate(90deg);
        left: 50%;
        top: 55%;
    }
    @media screen and (min-width: 1280px) {
        width: 166px;
        top: 50%;
    }


    &__title {
        text-align: center;
        padding-bottom: 28px ;

    }

    &__img {
        width: 200px;
        height: 133px;
    }

    &__text {
        font-size: 16px;
        margin-bottom: 20px;
        text-align: center;
        width: 265px;
        font-weight: 500;
        line-height: calc(20px);
        @media screen and (min-width: 768px) {
            text-align: start;
            margin-bottom: 0;
            line-height: calc(20px);
            width: 203px;
            font-size: 16px;
        }
        @media screen and (min-width: 1280px) {
            margin-bottom: 28px;
            width: 238px;
            font-size: 18px;
            line-height: calc(22px);
        }
    }

    &__day {
        position: relative;
        width: 114px;
        text-align: center;
        font-family: "Montserrat";
        font-size: 18px;
        line-height: calc(22px);
        font-weight: 500px;
        color: #2e2520;;
        @media screen and (min-width: 768px) {
            width: 90px;
            flex-wrap: wrap;
        }
        @media screen and (min-width: 1280) {
            width: 127px;
        }


    }

    &__domain {
        position: relative;
    }


    &__input {
        border: none;
        width: 100%;
        border-bottom: solid 1px #2E2520;
        outline: none;
    }
    
    &__input::placeholder {
        color: #2E2520;
        font-size: 16px;
        font-weight: 400;
        background-color: transparent;
        @media screen and (min-width: 768px) {
            margin-bottom: 0;
        }

    }

    &__form{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 280px;
        padding: 32px 7px;

        @media screen and (min-width: 768px) {
            height: 234px;
            width: 704px;
            padding: 40px 61px;
            border-radius: 150px;
        }
        @media screen and (min-width: 1280px) {
            height: 246px;
            width: 822px;
            padding: 40px 105px;
        }
    }

    &__rel {
        position: relative;
    }

    &__ditection {
        display: flex;
        flex-direction: column;
        gap: 22px;
        margin-top: 24px;
        @media screen and (min-width: 768px) {
            gap: 16px;
        }
        @media screen and (min-width: 1280px) {
            gap: 14px;
        }
    }

    &__button {
        position: absolute;
        top: 103px;
        display: block;
        width: 145px;
        height: 40px;
        color: #FFF;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        border-radius: 25px;
        border: none;
        box-shadow: 10px 15px 25px 0px rgba(232, 183, 183, 0.45);
        cursor: pointer;
        background: #f3848c;
        margin-left: auto;
        margin-right: auto;
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
          color: #f3848c;
          border: 1px solid #f3848c;
          box-shadow: 10px 15px 25px 0px rgba(232, 183, 183, 0.45);
          background: #fff;
        }
    }

}


.block {
    position: relative;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    padding: 26px 0px 26px 0px;
    background-image: url(../../imgs/mobile/registration/registration-bg@1x-mobile.webp);
    background-repeat: no-repeat;
    background-position: right;

    border-radius: 10px;



    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../../imgs/mobile/registration/registration-bg@2x-mobile.webp);
    }
    @media screen and (min-width: 736px) {
        flex-direction: row;
        align-items: flex-start;
        padding: 40px;
        gap: 54px;
        background-image: url(../../imgs/tablet/registration/registration-bg@1x-tablet.webp);

        @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../../imgs/tablet/registration/registration-bg@2x-tablet.webp);
        }
      }
      @media screen and (min-width: 1280px) {
        padding: 40px;
        background-image: url(../../imgs/desktop/registration/registration-bg@1x-desktop.webp);
        @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../../imgs/desktop/registration/registration-bg@2x-desktop.webp);
        }
      }

    &__text {
        border-left: solid 1px #2E2520;
        padding-left: 28px;
        margin-top: 20px;
        @media screen and (min-width: 736px) {
            gap: 16px;
        }    
        @media screen and (min-width: 1280px) {

            margin-left: 64px;
            margin-right: 24px;
        }
    }

    &__button {
        margin-left: auto;
        margin-right: auto;
        margin-top: 32px;

        @media screen and (min-width: 736px) {
            margin-top: 0;     
        }
    }

    &__day {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 32px;
        width: 114px;
       
    }

    &__img{
        top: 0;
        right: 0;
        z-index: -1;

        @media screen and (min-width: 736px) {
            width: 100px;
            height: 66.675px;
            flex-shrink: 0;
        }  
        @media screen and (min-width: 1280px) {
            width: 200px;
            height: 133px;
            flex-shrink: 0;
        }  
    }
}  
 