

.registration {
    padding-top: 40px;
    background-image: url(../imgs/mobile/registration/registration-bg@1x-mobile);

    @media screen and(min-width:768px){
        padding-top: 80px;
    }

    @media screen and(min-width:1280px){
        padding-top: 100px;
    }


    &__title {
        margin: 0;
        text-align: center;
        font-weight: 600;
        font-size: 24px;
        line-height: calc(29/24);
        color:$title-color;
        padding-bottom: 28px;
    
        @media screen and(min-width:768px) {
         font-weight: 500;
        font-size: 32px;
        line-height: calc(39/32);
        }
        
    }

    &__form {
        max-width: 280px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 40px;
        padding-bottom: 32px;
        border-radius: 10px;
        background-image:linear-gradient(rgba(61,44,44,0.6), rgba(61,44,44,0.6) ),  url(../images/Registration/bg3s@1x.jpg) ;
        background-repeat: no-repeat;
        box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);
        
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: urllinear-gradient(rgba(61,44,44,0.6), rgba(61,44,44,0.6) ),  url(../images/Registration/bg3s@2x.jpg) ;
        }
    
        @media screen and(min-width:768px){
            padding-top: 40px;
            max-width: 768px;
            flex-direction: row;
            padding-bottom: 52px;
            background-image: url(../../imgs/tablet/registration/registration-bg@1x-desktop.webp);
    
            @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../../imgs/tablet/registration/registration-bg@2x-tablet.webp); 
            background-position: center;
         background-size: contain;
            
            
        }
    
        @media screen and(min-width:1280px){
            max-width: 1280px;
            padding-bottom: 40px;
            margin-left: 107px;
            margin-right: 107px;
            background-image: url(../../imgs/desktop/registration/registration-bg@1x-desktop.webp);
            box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);
    
            @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../../imgs/desktop/registration/registration-bg@2x-desktop.webp); 
           background-position: center;
        background-size: contain;
      }
        }
    } 
    }




    


    &__textd{
        display: flex;
        flex-direction: column;
        width: 95%;
        border-top: 1px solid #ffffff; ;
        padding-top: 20px;
        padding-bottom: 0;
    
        @media screen and(min-width:768px) {
            width: auto;
            padding-left: 27px;
            padding-top: 0;
            margin-right: 72px;
            border-top: none;
            border-left: 1px solid #2e2520; ;
        }
        @media screen and(min-width:1280px) {
            padding-left: 27px;
            padding-top: 0;
            margin-right: 0;
            border-top: none;
            border-left: 1px solid #2e2520; ;
        }
        }



    &__day {
        padding-bottom: 20px;
        text-align: center;
        font-weight: 500;
        font-size: 18px;
        line-height: calc(22/18);
        color: #ffffff;
    
        @media screen and(min-width:768px){
            padding-right: 28px;
            max-width: 118px;
            color: rgba(0, 0, 0, 0.5);
            text-align: right;
        }
    
        @media screen and(min-width:1280px){
            padding-right: 28px;
            text-align: right;
            max-width: 155px;
            font-size: 20px;
            line-height: calc(24/20);
            color: $main-text-color;
        }
    
    }

    &__text{
        margin-top: 0;
        margin-bottom: 24px;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: calc(20/16);
        color: #ffffff;
        
        @media screen and(min-width:768px){
            max-width: 278px;
            text-align: left;
            color: $main-text-color;
         }
    
         @media screen and(min-width:1280px){
            max-width: 278px;
            font-weight: 500;
            font-size: 20px;
            line-height: calc(24/20);
    }
    }


 
    &__buttond{
        margin-left: auto;
        margin-right: auto;
        margin-top: 32px;

        @media screen and (min-width: 736px) {
            margin-top: 0;
        }
    }
    &__button {
        display: block;
        margin: 0;
        padding: 8px 0;
        width: 145px;
        height: 40px;
      
        font-size: 18px;
        line-height: 1.22;
        text-align: center;
        color: #ffffff;
      
        background-color: #F3848C;
        border: 1px solid #F6F7F7;
        border-radius: 25px;
        box-shadow: 10px 15px 25px rgba(232, 183, 183, 0.45);
      

    
        &:hover {
          background-color: #ffffff;
          color: #F6F7F7;
        }
      
        &:active {
          box-shadow: inset 0px 4px 4px rgba(107, 66, 66, 0.25);
      
          color: #ffffff;
          background-color: #F6F7F7;
          border-color: #ffffff;
        }
      }
      


    
    &__input {
        margin-bottom: 14px;
        border: none;
        border-bottom: 1px solid #ffffff;
        text-align: left;
        width: 100%;
        font-weight: 400;
        font-size: 16px;
        line-height: calc(16/20);
        color: #ffffff;
        background-color: transparent;
    
        @media screen and(min-width:768px) {
            border-bottom: 1px solid #2e2520;;
            color: #2e2520;;
        }
    
        @media screen and(min-width:1280px) {
            width: 90%;
        }
         }
    
         &__input:not(:placeholder-shown):required:valid {
            outline-color: green;
          }
          
        &__input:not(:placeholder-shown):required:invalid {
            outline-color: red;
          }
    
       &__input[type="email"]{
        margin-bottom: 32px;
        @media screen and(min-width:768px){
            margin-bottom: 0;
        }
       }
    
       ::placeholder{
        color: #ffffff;
    
        @media screen and(min-width:768px){
            color: #2e2520;
        }
       }


}